extends layout.pug

block content
  main
    h1.visually-hidden Регистрация пользователя
    section.search-page
      .search-page__wrapper
        h2.visually-hidden Форма регистрации
        .popup__form.popup__form--active.form.form--register
          form(action='#' method='get')
            .form__field
              label
                input(type='email' placeholder='Электронная почта' required)
            .form__field
              label
                input(type='text' placeholder='Имя' required)
            .form__field
              label
                input(type='text' placeholder='Фамилия')
            .form__field
              label
                input(type='password' placeholder='Пароль' required)
            .form__field
              label
                input(type='password' placeholder='Повтор пароля' required)
            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg' alt='аватар пользователя')
              label
                input.visually-hidden(type='file')
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
