extends layout.pug

block content
  main
  section.search-page
    .search-page__wrapper
      h1 Поиск
      .search.search-page__form
        form(action='/search' method='get' autocomplete="off")
          label
            input(name='search' type='search' placeholder='Что ищем?' value='')
          button.search__button.button.button--transparent(type='submit') Найти
        each res in results
          .search__result
            time.search__date(datetime='2019-03-21T20:33') 21.03.2019, 20:33
            a.search__link
              | #{res.title}
